@section Styles {
    <style>
        .mh3 {
            font-size: 32px;
            font-weight: 700;
            border-bottom: 1px solid #000;
            padding-bottom: 15px;
            margin-bottom: 25px;
        }

        .about-img{
            width:100%;
            height: auto;
        }
    </style>

}

<div class="container my-5">

    <h1 class="text-primary text-center mh3">About Us</h1>
    <div class="row mt-4">
        <!-- Side Image -->
        <div class="col-md-5">
            <img src="/img/aboutbg.jpg" class="about-img" alt="About Us">
        </div>

        <!-- About Us Text -->
        <div class="col-md-7">
            <h2 class="text-primary">Welcome to MROOM</h2>
            <p class="about-us">
                Mroom.in is India’s most innovative real estate advertising platform for homeowners, landlords, developers,
                and real estate brokers. The company offers listings for new homes, resale homes, rentals, plots and co-living
                spaces in India. Backed by strong research and analytics, the company’s experts provide comprehensive real
                estate services that cover advertising and marketing, sales solutions for real estate developers, personalized
                search, virtual viewing, AR&VR content, home loans, end-to-end transaction services, and post-transaction
                services to consumers for both buying and renting.
            </p>
            <p class="about-us">Our vision is changing the way India experiences property.</p>
            <p class="about-us">
                And our mission is to be the first choice of our consumers and partners in discovering, renting,
                buying, selling, financing a home, and digitally enabling them throughout their journey. We do that with data,
                design, technology, and above all, the passion of our people while delivering value to our shareholders.
            </p>
        </div>
    </div>
</div>