@section Styles {
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
        }

        .mh3 {
            font-size: 32px;
            font-weight: 700;
            border-bottom: 1px solid #000;
            padding-bottom: 15px;
            margin-bottom: 25px;
        }

        .about-img {
            width: 100%;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .contact-info {
            font-size: 1.1rem;
            color: #6c757d;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

            .contact-info h2 {
                font-size: 2rem;
                margin-top: 1rem;
                color: #0d6efd;
            }

            .contact-info p, .contact-info a {
                margin-bottom: 1.2rem;
                color: #6c757d;
                font-size: 1.1rem;
                text-decoration: none;
            }

                .contact-info a:hover {
                    color: #0d6efd;
                }

            .contact-info i {
                margin-right: 10px;
            }

            .contact-info p:last-child {
                margin-bottom: 0;
            }
    </style>

}
<div class="container my-5">
    <h1 class="text-primary text-center mh3">Contact Us</h1>
    <div class="row mt-4">
        <!-- Side Image -->
        <div class="col-md-5">
            <img src="/img/aboutbg.jpg" class="about-img" alt="About Us">
        </div>
        <!-- Contact Us Text -->
        <div class="col-md-7 contact-info">
            <h2>Welcome to MROOM</h2>
            <p>Our mailing address:</p>
            <p><strong>Mroom.in</strong><br><i class="fas fa-location-dot"></i> Motihari, East Champaran, Bihar</p>
            <p>In case of any queries:</p>
            <p><i class="fas fa-phone"></i><a href="tel:9852155006">+91 98521 55006</a></p>
            <p><i class="fas fa-envelope"></i><a href="mailto:support@mroom.in">support@mroom.in</a></p>
            <p><i class="fas fa-comments"></i><a href="javascript:;">Chat With Us</a></p>
        </div>
    </div>
</div>