@section Styles {
    <style>
        .mh3 {
            font-size: 32px;
            font-weight: 700;
            border-bottom: 1px solid #000;
            padding-bottom: 15px;
            margin-bottom: 25px;
        }

        .about-img {
            width: 100%;
            height: auto;
            text-align: justify;
        }

        ul li {
            text-align: justify;
            margin-bottom: 15px;
        }
    </style>

}

<div class="container my-5">

    <h1 class="text-primary text-center mh3">Listing Using Whatsapp</h1>
    <div class="row mt-4">
        <!-- About Us Text -->
        <div class="col-md-12">
            <h2 class="text-primary">How to list using Whatsapp?</h2>
            <p class="about-us">
                Mroom.In understands that not everyone has time & expertise to use computer to list a property. To solve this problem, we have made the listing even simpler.
            </p>
            <p class="about-us">
                You just need to send us the information on WhatsApp on 9852155006 and we will create your login for you! No need of a computer or calling anyone. Our Customer Service Representative will call you and take whatever info is required. Nothing can be simpler and quicker than this!
            </p>
        </div>
    </div>
</div>