@section Styles {
    <style>
        .mh3 {
            font-size: 32px;
            font-weight: 700;
            border-bottom: 1px solid #000;
            padding-bottom: 15px;
            margin-bottom: 25px;
        }

        .about-img {
            width: 100%;
            height: auto;
            text-align: justify;
        }

        ul li {
            text-align: justify;
            margin-bottom: 15px;
        }
    </style>

}

<div class="container my-5">

    <h1 class="text-primary text-center mh3">Owners</h1>
    <div class="row mt-4">
        <!-- About Us Text -->
        <div class="col-md-12">
            <h2 class="text-primary">Why you should list with us?</h2>
            <p class="about-us">
                Mroom.in rental platform lets you find tenants without any broker acting as a middleman. Apart from the fact that this can be much more convenient and safe (you don't have to handover keys to an unknown person) it will help you save time and money.
            </p>
            <p class="about-us">
                Most brokers don't filter people and end up showing houses randomly. This would mean that only when you meet the tenants you would come to know if that person would not fit in the society rules. This leads to lot of inconvenience and wastage of time. Also, brokers hoard the information and create the information asymmetry. They decide who should not see your house because there is another landlord who may give him little extra brokerage. While in case of Mroom.in, you would be speaking to the potential tenant before you actually show him the house. Even the key can be kept with the society secretary if you do not want to go to the house every time the tenant wants to see. Many landlords also fix up a day and time when they are there and all tenants can come and see the house in that time.
            </p>
            <p class="about-us">
                The listing is very simple and intuitive. It would take less than 5 minutes and post that we just verify to make sure that no broker is listing. We also use innovative and easy technology like whatsapp to help you list your property. If at any stage you need any guidance, you can always speak to our customer service manager. We also make sure that any person listing as tenant is not a broker, and thus you do not get any of those pesky calls. Once the listing is done, you would start getting enquiries from genuine tenants.
            </p>
            <p class="about-us">
                If you have a property to list you can click on 'Post Your Property' button on top right corner of the page or email us at support@mroom.in
            </p>
        </div>
    </div>
</div>