@section Styles {
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
        }

        .mh3 {
            font-size: 32px;
            font-weight: 700;
            border-bottom: 1px solid #000;
            padding-bottom: 15px;
            margin-bottom: 25px;
        }

        .about-img {
            width: 100%;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .contact-info {
            font-size: 1.1rem;
            color: #6c757d;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

            .contact-info h2 {
                font-size: 2rem;
                margin-top: 1rem;
                color: #0d6efd;
            }

            .contact-info p, .contact-info a {
                margin-bottom: 1.2rem;
                color: #6c757d;
                font-size: 1.1rem;
                text-decoration: none;
            }

                .contact-info a:hover {
                    color: #0d6efd;
                }

            .contact-info i {
                margin-right: 10px;
            }

            .contact-info p:last-child {
                margin-bottom: 0;
            }
    </style>

}
<div class="container my-5">
    <h1 class="text-primary text-center mh3">Property Details</h1>

    <div class="row mt-4">
        <div class="col-md-3">
            <img src="/img/property-1.jpg" alt="Alternate Text" class="img-fluid" />
        </div>

        <div class="col-md-3">
            <h5><b>MROOMBMKI10845401</b> </h5>
            <h5><b>Parking: </b> Two Wheelers</h5>
            <h5><b>Parking: </b> Visitor</h5>
        </div>

        <div class="col-md-3">
            <h5><b>2BHK 1st Floor</b></h5>
            <h5><b>Near By: </b> M.S College</h5>
            <h5><b>Rent M/o: </b> 5500</h5>
        </div>

        <div class="col-md-3">
            <h5><b>Toilet Western</b></h5>
            <h5><b>Muhalla: </b> Chandanam</h5>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-3">
            <img src="/img/property-2.jpg" alt="Alternate Text" class="img-fluid" />
        </div>

        
    </div>

    <div class="row mt-4">
        <div class="col-md-3">
            <img src="/img/property-3.jpg" alt="Alternate Text" class="img-fluid" />
        </div>

       
    </div>

    <div class="row mt-4">
        <div class="col-md-3">
            <img src="/img/property-4.jpg" alt="Alternate Text" class="img-fluid" />
        </div>

       
    </div>
</div>