@section Styles {
    <style>
        .mh3 {
            font-size: 32px;
            font-weight: 700;
            border-bottom: 1px solid #000;
            padding-bottom: 15px;
            margin-bottom: 25px;
        }

        .about-img {
            width: 100%;
            height: auto;
            text-align: justify;
        }

        ul li{
            text-align: justify;
            margin-bottom: 15px;
        }
    </style>

}

<div class="container my-5">

    <h1 class="text-primary text-center mh3">Tenats</h1>
    <div class="row mt-4">
        <!-- About Us Text -->
        <div class="col-md-12">
            <h2 class="text-primary">Benefits of Mroom.in</h2>
            <p class="about-us">
                Mroom.in rental platform lets you find your dream house without any broker acting as a middleman. This is the most convenient way of finding your house.
            </p>
            <p class="about-us">
                Mroom.in helps you in 3 ways:
            </p>
            <ul>
                <li>We make sure that each property is verified and directly from owner.</li>
                <li>All the information is available in a well-organized manner with photographs and a detailed analysis if the surroundings. You can locate where is the nearest school, grocery shop, ATM etc. This information will help you shortlist the property without taking an effort to visit the actual site. In case of brokers, they just want to make sure that the property goes out fast. They would therefore show you properties without even thinking if it would suit your requirements. It would mean that you would end up visiting lot more properties and realizing as soon as you reach there that this is not what you would want. With Mroom.in, this convenience comes and saves you lot of time and effort.</li>
                <li>Brokers hoard information and create information asymmetry in the market. They would ideally want that the not-so-good houses should go first as the good houses would anyway have lot of takers. Therefore, they would always show you bad houses first and only when you reject all of them would they start showing you better houses. In Mroom.in, there is no information asymmetry. All houses inventory is available for you to pick and choose. It is on first-come-first-serve basis. This is a big advantage that makes the market transparent and efficient.</li>
            </ul>
            <p>So, forget your old broker and find your dream house with Mroom.in. Click here to search for houses.</p>
        </div>
    </div>
</div>