@section Styles {
    <style>
        .testimonial {
            text-align: center;
            margin-bottom: 15px;
        }

            .testimonial .mycol {
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
                border: 1px solid #ddd;
                background-color: #f9f9f9;
                border-radius: 5px;
                padding: 20px;
                min-height: 440px;
            }


            .testimonial img {
                margin: auto;
                border-radius: 5px;
                margin-bottom: 15px;
                width: 200px;
            }

        .stars {
            color: gold;
            margin-bottom: 10px;
        }

        .bg-custom {
            background-color: #f4fffc;
        }

        .meiframe {
            width: 100%;
            min-height: 315px;
        }
    </style>

}

<div class="p-5 bg-light m-0">
    <div class="container">
        <div class="text-center mb-3">
            <h2>Our Customers Loves Us</h2>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <iframe class="my-2 meiframe" src="https://www.youtube.com/embed/yPHxJQF6k8M?si=Yj7JuzhFscY1OXGT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 testimonial">
                <div class="mycol">
                    <img src="/img/avatar1.jpg" alt="Person 1">
                    <h5>Rahul</h5>
                    <div class="stars">★★★★★</div>
                    <p>"Help Us To Find"</p>
                    <p>"Great service and support. Highly recommend!"</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 testimonial">
                <div class="mycol">
                    <img src="/img/avatar2.jpg" alt="Person 2">
                    <h5>Ayan</h5>
                    <div class="stars">★★★★★</div>
                    <p>"Find My Property"</p>
                    <p>"Amazing experience, will come back for sure!"</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 testimonial">
                <div class="mycol">
                    <img src="/img/avatar3.jpg" alt="Person 3">
                    <h5>Reshma</h5>
                    <div class="stars">★★★★★</div>
                    <p>"Find My Property"</p>
                    <p>"Exceptional quality and service!"</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 testimonial">
                <div class="mycol">
                    <img src="/img/avatar4.jpg" alt="Person 4">
                    <h5>Divya</h5>
                    <div class="stars">★★★★★</div>
                    <p>"Find My Property"</p>
                    <p>"Highly recommend to everyone!"</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 testimonial">
                <div class="mycol">
                    <img src="/img/avatar5.jpg" alt="Person 4">
                    <h5>Raja</h5>
                    <div class="stars">★★★★★</div>
                    <p>"Find My Property"</p>
                    <p>"Highly recommend to everyone!"</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 testimonial">
                <div class="mycol">
                    <img src="/img/avatar6.jpg" alt="Person 4">
                    <h5>Priti</h5>
                    <div class="stars">★★★★★</div>
                    <p>"Find My Property"</p>
                    <p>"Highly recommend to everyone!"</p>
                </div>
            </div>
        </div>
    </div>
</div>