html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
.footer {
    background-color: #343a40;
    color: white;
    padding: 40px 0;
}

    .footer a {
        color: #adb5bd;
        text-decoration: none;
    }

        .footer a:hover {
            color: white;
            text-decoration: none;
        }

    .footer .social-icons a {
        display: inline-block;
        margin-right: 10px;
        font-size: 24px;
    }

    .footer h5 {
        margin-bottom: 20px;
    }

    .footer p, .footer a {
        margin-bottom: 10px;
    }

    .nav-item{
        margin-right: 10px;
        font-weight: bold;
    }

@media (max-width: 768px) {
    .nav-item2 {
        padding: 10px;
        border-bottom: 1px solid #000;
        width: 100%;
    }
}